/* =========================================  @import url(reset.css); */

body, *{
    margin: 0;
    padding: 0;
}


body{
    background-color: #f0d8e9;
    /* background-image: url("../img/ava7patterns_pattern_1882.png"); */
    background-image: url("../img/tel.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 25%;
}

.header{
    width: 800px;
    height: 580px;
    margin: 25px auto;
    background-color: #FCF9CE; 
    background-image: url("../img/ava7patterns_wallpaper_800x600_610.png");
    background-repeat:  repeat-x;
    
    line-height: 50px;
    /* display:flex;
    justify-content:center;
    align-items:center; */
}

/* .header1{
    width: 800px;
    height: 400px;
    margin: 25px auto;
    background-color: #FCF9CE; 
    background-image: url("../img/bg_s.jpg");
    background-repeat:   repeat-x;
    
    line-height: 421px;
    /* display:flex;
    justify-content:center;
    align-items:center; 
        } */

.header h1{
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 250px 15px;
    padding-left: 40px;
    /* outline: 1px solid red; */
}

.header h2{
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 250px 15px;
    padding-left: 40px;
    /* outline: 1px solid red; */
}

.header h3{
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 250px 15px;
    padding-left: 40px;
    /* outline: 1px solid red; */
}

.header h4{
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 250px 15px;
    padding-left: 40px;
    /* outline: 1px solid red; */
}

.header h5{
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 250px 15px;
    padding-left: 40px;
    /* outline: 1px solid red; */
}

.header h6{
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: 250px 15px;
    padding-left: 40px;
    /* outline: 1px solid red; */
}



.wrapper{
    width: 800px;
    margin: 25px auto;
    
}

.wrapFirst{
    min-width: 880px;
}


